.feed
  #audio
    padding-top: 15px
    padding-bottom: 15px
    padding: 15px auto

  &.feed-shot-shake
    animation: shake-out 0.5s ease-out

  @keyframes shake-out
    0%, 20%
      transform: translate3d(-4px, 0, 0)
    10%, 30%
      transform: translate3d(4px, 0, 0)
    40%
      transform: translate3d(-3px, 0, 0)
    50%
      transform: translate3d(3px, 0, 0)
    60%
      transform: translate3d(-2px, 0, 0)
    70%
      transform: translate3d(2px, 0, 0)
    80%
      transform: translate3d(-1px, 0, 0)
    90%
      transform: translate3d(1px, 0, 0)
    100%
      transform: translate3d(0px, 0, 0)

  // Animations
  .fade-enter
    opacity: 1
    transform: translateY(-30%)

  .fade-enter-active
    transition: opacity 0.3s ease-out, transform 0.3s ease-out
    opacity: 1
    transform: translateY(0)

  .fade-leave
    opacity: 1

  .fade-leave.fade-leave-active
    transition: opacity 0.3s ease-out
    opacity: 0

.feed-reverse
  display: flex
  flex-direction: column-reverse

.feed-item
  display: flex
  border: 1px solid #efefef
  border-radius: 2px
  padding: 10px
  margin: 8px
  text-align: center
  font-size: 16pt
  font-weight: bold
  color: rgba(0, 0, 0, 0.85)
  box-shadow: 0 0 10px -4px rgba(48, 75, 163, 0.2)

.feed-item__title
  width: 45%

.feed-item__desc
  width: 45%

.feed-item__emoji
  width: 10%

  img
    width: 60%
    max-width: 100%
    max-height: 100%

$ticker-height: 3em
$feed-height: calc(100% - #{$ticker-height})

.feed-items
  height: $feed-height
  padding-bottom: $ticker-height
  overflow: hidden

.ticker-container
  width: 100%
  height: $ticker-height

  overflow: hidden

  .ticker
    width: 100%
    height: $ticker-height
    vertical-align: bottom

  .ticker-outer
    width: 100%
    height: 100%
    position: relative

  .ticker-message-button
    position: absolute
    left: 0
    bottom: 0
    background: white

  .ticker-item
    font-size: 2em
    margin-right: 2em
